<h1>Listing Content Pages</h1>

<%= 
	render :partial => '/shared_scripts/sortable_table',
		   :locals => {:cols => 4,
					   :headers => ['Name', 'Title', 'Created At', 'Updated At'], 
					   :closures => [
					      lambda{|content_page| link_to content_page.name, :action => 'show', :id => content_page.id}, 
					      lambda{|content_page| h content_page.title},
					      lambda{|content_page| content_page.created_at},
					      lambda{|content_page| content_page.updated_at}],
					   :list => @content_pages} 
%>


<!--<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Created At</th>
    <th>Updated At</th>
  </tr>
  
<% for content_page in @content_pages %>
  <tr>
    <td><%= link_to content_page.name, :action => 'show', :id => content_page.id %></td>
    <td><%= h content_page.title %></td>
    <td><%= content_page.created_at %></td>
    <td><%= content_page.updated_at %></td>
  </tr>
<% end %>
</table>-->

<hr/>
<p><%= link_to 'New content_page', :action => 'new' %></p>
